@font-face {
    font-family: 'Cyberpunk';
    src: url('fonts/Cyberpunk.otf') format('opentype');
}

body {
    margin: 0;
    background: #330000; /* Dark red background */
    font-family: 'Cyberpunk', sans-serif; /* Using the custom Cyberpunk font */
}

.titleScreen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.glitch {
    font-size: 100px; /* Larger font size for title */
    color: #f8ef02; /* Neon yellow for the main text */
    position: relative;
    user-select: none;
    white-space: nowrap;
    text-shadow: 3px 0 0 #00ffd2, -3px 0 0 #00ffd2; /* Cyan shadows */
}

/* Additional shadow for depth */
.glitch::before,
.glitch::after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    color: #00ffd2; /* Cyan color */
    opacity: 0.5; /* Lower opacity for depth */
}

.glitch::before {
    left: -5px; /* Larger offset for additional depth */
}

.glitch::after {
    left: 5px; /* Larger offset for additional depth */
}

.year {
    color: #00ffd2; /* Cyan color to match the Wei Chen text shadow */
    font-size: 60px; /* Size adjustment for the year */
    position: absolute;
    top: 100%; /* Positioning directly under Chen */
    left: 50%;
    transform: translateX(-50%); /* Center align under Chen */
}

.button {
    background-color: #f27121; /* Bright orange */
    color: white;
    border: none;
    padding: 12px 24px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 5px;
}

.button:hover {
    background-color: #e94057; /* Lighter red */
}

.background-glitch {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(135deg, #000 25%, transparent 25%) 0 0,
                linear-gradient(225deg, #000 25%, transparent 25%) 0 0,
                linear-gradient(315deg, #000 25%, transparent 25%) 0 0,
                linear-gradient(45deg, #000 25%, transparent 25%) 0 0;
    background-size: 60px 60px;
    z-index: -1;
    animation: glitch-background 5s infinite;
}

@keyframes glitch-background {
    0%, 100% {
        background-position: 0 0, 0 0, 0 0, 0 0;
    }
    10%, 90% {
        background-position: -30px -30px, 30px 30px, -30px -30px, 30px 30px;
    }
    20%, 80% {
        background-position: -30px 30px, 30px -30px, 30px 30px, -30px -30px;
    }
    30%, 70% {
        background-position: 30px 30px, -30px -30px, 30px -30px, -30px 30px;
    }
    40%, 60% {
        background-position: 30px -30px, -30px 30px, -30px 30px, 30px -30px;
    }
}
