body {
    margin: 0;
    background: black;
    color: #0f0; /* Neon green text, typical of cyberpunk themes */
    font-family: 'Orbitron', sans-serif; /* A futuristic font */
}

nav ul {
    list-style-type: none;
    position: fixed;
    top: 10px;
    right: 10px;
}

nav li {
    display: inline;
    margin-left: 20px;
}

nav a {
    color: #0f0;
    text-decoration: none;
}
